/* Navbar principal */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #6e6e6e, #b3b3b3);
    padding: 0.5em 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}

/* Container da Logo */
.logo {
    display: inline-block;
    margin-right: 0.5px;
    mix-blend-mode: multiply;
    align-content: flex-start;
}

/* Logo (tamanho ajustável) */
.logo-img {
    width: 75px;
    height: auto;
}

/* Links de navegação */
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    transition: color 0.3s;
}

/* Efeito de hover nos links */
.nav-link:hover {
    color: #ddd;
}

/* Responsividade - Ajustar o layout em telas menores */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        /* Esconde os links */
        flex-direction: column;
        /* Alinha os links verticalmente */
        gap: 10px;
        margin-top: 10px;
    }

    .navbar.active .nav-links {
        display: flex;
        /* Exibe os links quando o menu estiver ativo */
    }

    .logo-img {
        width: 80px;
        /* Reduz o tamanho da logo em telas menores */
    }
}